.grid-communities {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

@media screen and (min-width: map-get($grid-breakpoints, md)) {
  .list-communities {
    display: none;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, md)) {
  .grid-communities {
    display: none;
  }
}
