.button-card-community {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.button-card-community > * {
  margin-right: 10px; /* Adjust the value as needed */
}

.cm-card {
  transition: box-shadow 0.3s ease; /* Transición suave del efecto */
}

.cm-card:hover {
  /* Efecto de sombra con desenfoque solo en los lados */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 10px;
}
