.button-card-community {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button-card-community > * {
  margin-right: 10px; /* Adjust the value as needed */
}
